body {
    background-color: gray;
    }
table {
    background-color: white;
    }
a:hover {
        background-color:orange;
      }
tr:nth-child(odd){
     background: sienna;
}
tr:hover {
     background-color: silver;
}
img.logo:hover{
    width: 100px;
    height: 100px;
    ; 
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}